<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	<title></title>
</head>
<style type="text/css">
	@media only screen and (max-width: 600px) {
    .remove-padding {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .hidden {
      display: none
    }
  }
  @media only screen and (min-width: 601px) {
    .hidden-2 {
      display: none
    }
  }
</style>

<body>
	<div style="margin:0!important; background-color:#FFF !important;">
		<center style="width:100%; table-layout:fixed; background-color: #FFF !important;">
			<div style="margin:0 auto; max-width: 1340px;">
				<table style="margin:0 auto; width: 650px;" border="0" cellspacing="0" cellpadding="0" align="center">
					<tbody>
						<tr>
							<td style="padding: 40px; height: 379px; background-color: #FFF !important;" valign="center" bgcolor="#FFF" align="center">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
                    <tr>
											<td valign="top" align="center">
                        <div style="height:80px; border-radius: 1px; background-image: url('https://d94ws4wlaztm3.cloudfront.net/logo-big.png'); background-repeat: no-repeat; background-size: contain; margin-right: 20px; margin-bottom: 30px; background-position: center;">
                          <img src="https://d94ws4wlaztm3.cloudfront.net/logo-big.png" style="width:100%; height:auto; opacity: 0;" />
                        </div>
											</td>
										</tr>
										<tr>
											<td valign="top" align="left" style="padding-left: 15px; padding-right: 15px; padding-bottom: 25px; border-bottom: 1px solid #E9E9E9;">
												<table width="100%" align="left" cellspacing="0" cellpadding="0" border="0" style="margin-top: 20px;">
													<tbody>
														<tr>
															<td valign="center" align="left">
																<h1 class="header-banner-text-container" style="font-family: Inter, sans-serif; font-size: 40px; font-weight: 600; letter-spacing: 0; line-height: 48px; color: #252525; text-align: left; margin: 0;">
                                  Thank you for your booking
                                </h1>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td valign="top" align="left">
												<table style="margin-top: 30px;" width="100%" cellspacing="0" cellpadding="0" border="0">
													<tbody>
														<tr>
															<td valign="top" align="left">
                                <span class="content-text-container" style="text-align: left; font-size: 17px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; font-weight: normal;margin-bottom:15px;">
                                  Hi {{firstName}},
                                </span>
                                <br/>
                                <br/>
																<span class="content-text-container" style="text-align: left; font-size: 17px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; font-weight: normal;margin-bottom:15px;">
                                  We have received your booking and will be preparing your package. Please check the Booking Summary for details.
                                </span>
																<table style="width:100%; margin-top: 30px; margin-bottom: 30px;">
																	<tbody>
																		<tr>
                                      <td align="left" width="114px">
                                        <a class="btn btn-primary" href="http://hotspotasian.com/booking-summary/{{bookingId}}" role="button" target="_blank" style="width: 130px; height: 41px; background-color: #16AB45; border-radius: 5px; display: flex; flex-direction: column; align-content: center; justify-content: center; margin-right: 30px;color: #FFF;text-decoration: none;align-items: center;justify-content: center;position:relative; border-color: transparent;">
                                          <p class="button-text-container" style="font-style: normal; font-weight: 600; font-size: 15px; line-height: 13px; text-align: center; letter-spacing: 0; font-family: Inter, sans-serif;position:absolute;top:50%;left: 50%;transform: translate(-50%, -50%);width: 100%;">View Booking</p>
                                        </a>
                                      </td>
                                      <td align="left">
                                        <a href="https://hotspotasian.com" target="_blank" style="width: 114px; height: 40px; background-color: #FFF; border-radius: 5px; display: flex; flex-direction: column; align-content: center; justify-content: center; margin-right: 30px;color: #FFF;text-decoration: none;align-items: center;justify-content: center;position:relative; border-color: transparent;">
                                          <p class="button-text-container" style="color: #252525;font-style: normal; font-weight: normal; font-size: 15px; line-height: 13px; text-align: center; letter-spacing: 0; font-family: Inter, sans-serif;position:absolute;top:50%;left: 50%;transform: translate(-50%, -50%);width: 100%;">Visit Website</p>
                                        </a>
                                      </td>
																		</tr>
																	</tbody>
																</table>
                                <table style="width:100%; padding-bottom: 15px; border-bottom: 1px solid #E9E9E9; margin-bottom: 20px;">
																	<tbody>
																		<tr style="margin-bottom:28px;">
																			<td style="width:50%" valign="left">
																				<p style="font-style: normal; font-weight: normal; font-size: 15px; line-height: 140%; text-align: left; letter-spacing: 0; font-family: Inter, sans-serif; width: 100%; color: #8A8A8A;">Order #{{bookingId}}</p>
																			</td>
																			<td style="width:50%" valign="right">
																				<p style="font-style: normal; font-weight: normal; font-size: 15px; line-height: 140%; text-align: right; letter-spacing: 0; font-family: Inter, sans-serif; width: 100%; color: #8A8A8A;">{{bookingDate}}</p>
																			</td>
																		</tr>
																	</tbody>
																</table>
																<table style="width:100%; border-bottom: 1px solid #E9E9E9; margin-bottom: 20px;">
																	<tbody>
																		<tr>
																			<td>
																				<tr style="height: 131px;">
																					<td style="width: 131px;">
																						<div style="width: 131px; height:131px; border-radius: 1px; background-image: url('https://d94ws4wlaztm3.cloudfront.net/BOLT.jpeg'); background-repeat: no-repeat; background-size: cover; margin-right: 20px; margin-bottom: 25px;">
																							<img src="https://d94ws4wlaztm3.cloudfront.net/BOLT.jpeg" style="width:100%; height:auto; opacity: 0;" />
																						</div>
																					</td>
																					<td style="width: 100%; position: relative;">
                                            <table style="width:100%; height: 131px; margin-bottom: 25px;">
                                              <tbody>
                                                <tr valign="top" align="left">
                                                  <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 500; position: absolute; top: 0; left: 0;">
                                                    {{packageName}}
                                                    <br/>
                                                    <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #8A8A8A; font-weight: 500;">
                                                      Rent: {{rentDays}} days ({{checkIn}} - {{checkOut}})
                                                    </span>
                                                    <br/>
                                                    <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #8A8A8A; font-weight: 500;">
                                                      Arrival time: {{arrivalTime}} - Depart Time: {{departTime}}
                                                    </span>
                                                  </span>
                                                </tr>
                                                <tr valign="top" align="left">
                                                  <td valign="bottom">
                                                    <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 500; position: absolute; bottom: 0; left: 0; margin-bottom: 25px;">
                                                      ${{price}}
                                                      <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #8A8A8A; font-weight: 500;">
                                                        x {{quantity}}
                                                      </span>
                                                    </span>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
																					</td>
																				</tr>
																			</td>
																		</tr>
																	</tbody>
																</table>
																<table style="width: 100%;" align="left">
																	<tbody>
																		<tr style="height: auto;">
                                      <td style="width: 50%; padding-right: 30px;" valign="top">
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 600;">
                                          {{firstName}} {{lastName}}
                                        </span>
                                        <br/>
                                        <br/>
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 600;">
                                          {{hotelName}}
                                        </span>
                                        <br/>
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 400;">
                                          {{address}}
                                        </span>
                                        <br/>
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 400;">
                                          {{city}}
                                        </span>
                                        <br/>
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 400;">
                                          {{country}}
                                        </span>
                                      </td>
                                      <td style="width:45%" valign="top">
                                        <table style="width:100%; margin-bottom: 15px; border-bottom: 1px solid #E9E9E9">
																					<tbody>
																						<tr>
																							<td class="row-column" style="width:50%" valign="top">
																								<p style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #585858; margin: 0px; font-weight: 500;">Package Price</p>
																							</td>
																							<td class="row-column" style="width:50%" valign="top">
																								<p style="text-align: right; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #3C4044; margin: 0px; font-weight: 500;">${{price}}</p>
																							</td>
																						</tr>
																						<tr>
																							<td style="width:50%" valign="top">
																								<p style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #585858; margin: 0px; font-weight: 500;">Rent days</p>
																							</td>
																							<td style="width:50%" valign="top">
																								<p style="text-align: right; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #3C4044; margin: 0px; font-weight: 500;">{{rentDays}}</p>
																							</td>
																						</tr>
																						<tr>
																							<td style="width:50%" valign="top">
																								<p style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #585858; margin: 0px; font-weight: 500;">Quantity</p>
																							</td>
																							<td style="width:50%" valign="top">
																								<p style="text-align: right; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #3C4044; margin: 0px; font-weight: 500;">{{quantity}}</p>
																							</td>
																						</tr>
																						<tr>
																							<td style="width:50%" valign="top">
																								<p style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #585858; margin: 0px; font-weight: 500; margin-bottom: 15px;">Deposit *</p>
																							</td>
																							<td style="width:50%" valign="top">
																								<p style="text-align: right; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #8A8A8A; margin: 0px; font-weight: 500; margin-bottom: 15px;">${{deposit}}</p>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table style="width:100%; margin-bottom: 10px;">
																					<tbody>
																						<tr>
																							<td style="width:50%" valign="bottom">
																								<p style="margin-bottom: 0px; text-align: left; font-size: 14px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #585858; margin: 0px; font-weight: 500;">Total</p>
																							</td>
																							<td style="width:50%" valign="bottom">
																								<p style="margin-bottom: 0px; text-align: right; font-size: 20px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #3C4044; margin: 0px; font-weight: 600;">${{total}}</p>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table style="width:100%;">
																					<tbody>
																						<tr>
																							<p style="margin-bottom: 0px; text-align: left; font-size: 12px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: rgba(0,0,0,0.5); margin: 0px; font-weight: 500;">
                                                * Deposit fee will be refunded after wifi package is returned.
                                              </p>
																						</tr>
																					</tbody>
																				</table>
                                      </td>
																		</tr>
																	</tbody>
																</table>
																<table style="width:100%; margin-top: 15px;">
																	<tbody>
																		<tr style="width: 100%;">
																			<td style="width: 50%; padding-right: 30px;" valign="bottom">
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 600;">
                                          Payment on Delivery
                                        </span>
																				<br/>
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 400;">
                                          Pay ${{total}}
                                        </span>
																				<br/>
																				<br/>
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 600;">
                                          Notes
                                        </span>
																				<br/>
                                        <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #222; margin-bottom: 4px; font-weight: 400;">
                                          {{notes}}
                                        </span>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
      <div style="margin:0 auto; max-width: 1340px; background-color: #FAFAFA; margin-bottom: 20px;">
        <table style="margin:0 auto; width: 650px; margin-top: 20px;" border="0" cellspacing="0" cellpadding="0" align="center">
          <tbody>
						<tr>
							<td style="padding: 30px 40px 30px 40px; height: auto;" valign="center" align="left">
                <span style="text-align: left; font-size: 14px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #878787; font-weight: 400;">
                  You are receiving this email because you have made a booking with a Hotspot Asian. You will only receive email notifications for this.
                </span>
                <br/>
                <br/>
                <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #878787; font-weight: 400;">
                  © Hotspot Asian, All rights reserved
                </span>
                <br/>
                <span style="text-align: left; font-size: 15px; line-height: 140%; letter-spacing: 0; font-family: Inter, sans-serif; font-style: normal; color: #878787; font-weight: 400;">
                  1 Irving Place, #08-01, The Commerze @ Irving Singapore 369546.
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
		</center>
	</div>
</body>

</html>